body {
  margin: 0;
  background: #fff;
  font-family: "Raleway";
}
/*----------header----------*/
header {
  background: url("../img/Layer34.png") no-repeat top;
  background-color: #2b2e4a;
}
/*----------menu----------*/
.Rectangle_2 {
  padding-top: 20px;
  background-image: -moz-linear-gradient( 90deg, rgba(43,46,74,0) 0%, rgb(43,46,74) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(43,46,74,0) 0%, rgb(43,46,74) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(43,46,74,0) 0%, rgb(43,46,74) 100%);
}
.navbar-default {
  background-color: rgba(43,46,74,0);
  border: none; 
}
.myline {
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
}
.nav li {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}
.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 0.749);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-default .navbar-nav>li>a:hover {
  color: rgba(255, 255, 255, 0.5);
}
/*----------menu-stop----------*/
h1 {
  font-family: "Open Sans";
  line-height: 1.092;
  color: #fff;
  font-size: 65px;
  padding-top: 5vw;
}
h2 {
  line-height: 1.5;
  color: #fff;
  font-size: 22px;
}
.row>button {
  margin-top: 5vw;
  margin-bottom: 10vw;
  height: 46px;
}
/*----------header-stop----------*/
/*----------features----------*/
.features {
  padding-top: 10vw;
  padding-bottom: 5vw;
}
.font1 {
  color: rgb(45, 48, 51);
  line-height: 1.2; 
  margin-top: 3vw;
  margin-bottom: 2vw;
}
.font2 {
  color: rgb(108, 114, 121);
  line-height: 1.5;
  margin-bottom: 7vw;
}
/*----------features-stop----------*/
/*----------works----------*/
.works>div {
  padding: 0 1px 1px 0;
  overflow: hidden;
}
.works .text-uppercase {
  margin-top: 30%;
}
.works div img{
  width: 100%;
  overflow: hidden;
}
.project {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(232,69,69,0.9);
  color: #fff;
  line-height: 1.2;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s
}
.project:hover {
  opacity: 1;
}
/*----------works-stop----------*/
/*----------footer----------*/
footer {
  color: #fff;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #66697e;
}
.contacts {
  background-color: #3a3e64;
  padding-top: 5vw;
  padding-bottom: 7vw;
}
footer h5 {
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 22px;
}
footer p {
  line-height: 1.607;
}
.contacts a {
  background-image: url("../img/sprite-shape.png");
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 4px 0 0;
}
.contacts a.tw {
  background-position: 0 0;
}
.contacts a.fb {
  background-position: -40px 0;
}
.contacts a.in {
  background-position: -80px 0;
}
.copyright {
  background-color: #313454;
  color: rgb(128, 128, 128);
  line-height: 1.607;
}
.copyright p {
  margin-top: 25px;
  margin-bottom: 25px;
}
footer span {
  color: #e84545;
}
/*----------footer-stop----------*/